body {
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
}

#info {
	position: fixed;
	top: 40%;
	width: 100%;
	color: #EE6666;
	padding: 1rem;
	font-size: 1.5em;
	text-align: center;
	box-sizing: border-box;
}

#info.phone {
	font-size: 3.5em;
}

#info:hover {
	cursor: default;
}

#reset {
	height: 50px;
	width: 50px;
	position: fixed;
	bottom: 0;
	right: 70px;
	margin: 10px;
}

#reset.phone {
	height: 120px;
	width: 120px;
	right: 160px;
	margin-bottom: 30px;
	margin-right: 30px;
}

#reset:hover {
	cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

#about {
	height: 50px;
	width: 50px;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
}

#about.phone {
	height: 120px;
	width: 120px;
	margin-bottom: 30px;
	margin-right: 30px;
}