body {
	margin: 0;
}

#info {
	position: fixed;
	top: 40%;
	width: 100%;
	color: #EE6666;
	padding: 1rem;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	text-align: center;
	box-sizing: border-box;
	padding-right: 3em;
}

#info:hover {
	cursor: default;
}

#reset {
	height: 50px;
	width: 50px;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
}

#reset:hover {
	cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}